header{
    grid-area: header;
    border-bottom: 1px solid black;
    background-color: #233142;
}

header > p {
    text-align: right;
}

.createTodos{
    grid-area: createTodos;
}

.titleTask{
    font-size: 1.5em;
}