body{
    margin: 0;
    padding: 0;
    text-align: center;
    display: grid;
    grid-template-areas:
    'header header header header  '
    'divCategories news news .'
    'divCategories news news .'
    'footer footer footer footer';
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: lightcoral;
}

.titleNews{
    grid-area: titleNews;
}

.news{
    grid-area: news;
    text-align: left;
}

.underlineH1{
    text-decoration: underline;
}