body{
    margin: 0;
    padding: 0;
    text-align: center;
    display: grid;
    grid-template-areas:
    'header header header header  '
    'divCategories . . .'
    'divCategories . . .'
    'footer footer footer footer';
    background-color: #141d26;
    color: white;
}

.container_news_modify{
    background-color: #243447;
    border: 0.2px solid whitesmoke;
}