body{
    margin: 0;
    padding: 0;
    text-align: center;
    display: grid;
    grid-template-areas:
    'header header header header  '
    'divCategories todos todos todos'
    'divCategories todos todos todos';
    font-family: 'Open Sans', sans-serif;
    background-color: #141d26;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

.color_lightcoral_link{
    color: lightcoral;
}

li{
    list-style-type: none;
}

/* ------------------------ DIV TODOS  ------------------------*/

.divTodos{
    grid-area: todos;
    width: 100%;
}

.todosTask{
    font-size: 1.6em;
    border: 0.5px solid black;
    background-color: #243447;
}