body{
    margin: 0;
    padding: 0;
    text-align: center;
    display: grid;
    grid-template-areas:
    'header header header header  '
    'divCategories titleCategory titleCategory .'
    'divCategories . todos .';
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.color_lightcoral_link{
    color: lightcoral;
}

li{
    list-style-type: none;
}

.titleCategory{
    grid-area: titleCategory;
    font-size: 2.2em;
}
/* ------------------------ DIV TODOS  ------------------------*/

.divTodos{
    grid-area: todos;
    width: 50em;
}

.todosTask{
    font-size: 1.6em;
    border: 0.5px solid black;
}