body{
    margin: 0;
    padding: 0;
    text-align: center;
    display: grid;
    grid-template-areas:
    'header header header header  '
    'divCategories . . .'
    'divCategories . . .'
    'footer footer footer footer';
    font-family: 'Open Sans', sans-serif;
}

.deletedTask{
    border: 1px solid black;
}