body{
    margin: 0;
    padding: 0;
    text-align: center;
    display: grid;
    grid-template-areas:
    'header header header header  '
    'divCategories title title .'
    'divCategories containerDeletedTask containerDeletedTask .'
    'footer footer footer footer';
    font-family: 'Open Sans', sans-serif;
}

.containerDeletedTask{
    grid-area: containerDeletedTask;
}

.deletedTask{
    border: 1px solid black;
}

.title{
    grid-area: title;
}