body{
    margin: 0;
    padding: 0;
    text-align: center;
    display: grid;
    grid-template-areas:
    'header header header header  '
    'divCategories title title .'
    'divCategories containerDeletedTask containerDeletedTask .'
    'footer footer footer footer';
    font-family: 'Open Sans', sans-serif;
    background-color: #141d26;
    color: white;
}

.containerDeletedTask{
    grid-area: containerDeletedTask;
    background-color: #243447;
}

.color_lightcoral_link{
    color: lightcoral;
}

a{
    text-decoration: none;
    color: black;
}

.deletedTask{
    border: 0.2px solid black;
    font-size: 1.6em;
}

.title{
    grid-area: title;
}