body{
    margin: 0;
    padding: 0;
    background-color: #141d26;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

header{
    text-align: center;
    background-color: #243447;
    border: 0.5px solid gainsboro;
}

header > a{
    color: white;
}

ul{
    list-style-type: none;
}

main{
    background-color: #243447;
    border: 0.5px solid gainsboro;
    margin: 0.8% 8%;
}