body{
    margin: 0;
    padding: 0;
    text-align: center;
    display: grid;
    grid-template-areas:
    'header header header header'
    '. div_todos_settings div_user_settings .';
    font-family: 'Open Sans', sans-serif;
}

header{
    grid-area: header;
}

.div_todos_settings{
    grid-area: div_todos_settings;
    border: 1px solid black;
    font-size: 2em;
}

.div_user_settings{
    grid-area: div_user_settings;
    border: 1px solid black;
    font-size: 2em;
}

a{
    text-decoration: none;
    color: black;
}

#formChangeUsername{
    border-bottom: 1px solid black;
}

.adminPanel{
    border-top: 1px solid black;
}