body{
    margin: 0;
    padding: 0;
    text-align: center;
    display: grid;
    grid-template-areas:
    'header header header header'
    'divCategories div_todos_settings div_user_settings .'
    'divCategories containerAdminPanel containerAdminPanel .';
    font-family: 'Open Sans', sans-serif;
    background-color: #141d26;
    color: white;
}

header{
    grid-area: header;
}

.div_todos_settings{
    background-color: #243447;
    grid-area: div_todos_settings;
    border: 1px solid black;
    font-size: 2em;
}

.div_user_settings{
    background-color: #243447;
    grid-area: div_user_settings;
    border: 1px solid black;
    font-size: 2em;
}

a{
    text-decoration: none;
    color: white;
}

#formChangeUsername{
    border-bottom: 1px solid black;
}

.adminPanel{
    border-top: 1px solid black;
}

.paragraphUser, .paragraphCategories{
    border-bottom: 1px solid black;
}

.containerAdminPanel{
    margin-top: 1.2em;
    background-color: #243447;
    grid-area: containerAdminPanel;
}