body{
    background-color: #ebebebc2;
    text-align: center;
    display: grid;
    grid-template-areas:
    '. header header .'
    '. login register .'
    '. settings settings .';
}

header{
    grid-area: header;
    color: black;
}

.login{
    grid-area: login;
    border: 1px solid black;
    font-size: 2em;
    height: 11em;
    background-color: white;
}

.register{
    grid-area: register;
    border: 1px solid black;
    font-size: 2em;
    height: 11em;
    background-color: white;
}

.settings{
    grid-area: settings;
    border: 1px solid black;
    border-top: none;
    font-size: 2em;
    background-color: white;
    height: 11em;
}