body{
    margin: 0;
    padding: 0;
    display: grid;
    text-align: center;
    grid-template-areas:
    'header header header header'
    'divCategories titleModify titleModify . '
    'divCategories createTodos createTodos .'
    'divCategories . todos . ';
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.createTodos{
    grid-area: createTodos;
}

.titleModify{
    grid-area: titleModify;
}

/* ------------------------ DIV CATEGORIES  ------------------------*/

.divCategories{
    grid-area: divCategories;
    text-align: left;
}

/* ------------------------ Todos  ------------------------*/

.divTodos{
    grid-area: todos;
    width: 50em;
}

.todosTask{
    font-size: 1.6em;
    border: 0.5px solid black;
}