body{
    text-align: center;
    display: grid;
    grid-template-areas:
    '. header header .'
    '. container container .';
}

header{
    grid-area: header;
}

.container{
    grid-area: container;
}

a{
    text-decoration: none;
    color: black;
}