body{
    text-align: center;
    display: grid;
    grid-template-areas:
    '. header header . .'
    '. createTodos createTodos . .'
    'divCategories . todos . .';
}

a{
    text-decoration: none;
    color: black;
}

div > p > a{
    color: lightcoral;
}

li{
    list-style-type: none;
}
/* ------------------------ HEADER  ------------------------*/

header{
    grid-area: header;
}

.createTodos{
    grid-area: createTodos;
}

.titleTask{
    font-size: 1.5em;
}

/* ------------------------ DIV CATEGORIES  ------------------------*/

.divCategories{
    grid-area: divCategories;
    text-align: left;
}

/* ------------------------ DIV TODOS  ------------------------*/

.divTodos{
    grid-area: todos;
    width: 50em;
}

.todosTask{
    font-size: 1.6em;
    border: 0.5px solid black;
}

/* ------------------------ delete todos  ------------------------*/

.deleteALL{
    text-decoration: none;
    font-size: 1.8em;
    color: red;
}

