body{
    margin: 0;
    padding: 0;
    text-align: center;
    display: grid;
    grid-template-areas:
    'header header header header  '
    'divCategories . todos .'
    'divCategories . todos .';
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

div > p > a{
    color: lightcoral;
}

li{
    list-style-type: none;
}
/* ------------------------ HEADER  ------------------------*/

header{
    grid-area: header;
}

/* ------------------------ DIV TODOS  ------------------------*/

.divTodos{
    grid-area: todos;
    width: 50em;
}

.todosTask{
    font-size: 1.6em;
    border: 0.5px solid black;
}