body{
    text-align: center;
    display: grid;
    grid-template-areas:
    '. header header .'
    '. createTodos createTodos .'
    '. . todos .';
}

header{
    grid-area: header;
}

.createTodos{
    grid-area: createTodos;
}
.divTodos{
    grid-area: todos;
    border: 1px solid blue;
    width: 20em;
}

a{
    text-decoration: none;
    color: black;
}

div > a{
    color: lightcoral;
}

.deleteALL{
    text-decoration: none;
    font-size: 1.8em;
    color: red;
}

.todosTask{
    font-size: 1.6em;
}