body{
    display: grid;
    text-align: center;
    grid-template-areas:
    '. header header . '
    '. createTodos createTodos . '
    'divCategories . todos . ';
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.createTodos{
    grid-area: createTodos;
}

/* ------------------------ DIV CATEGORIES  ------------------------*/

.divCategories{
    grid-area: divCategories;
    text-align: left;
}
/* ------------------------ Header  ------------------------*/

header{
    grid-area: header;
}

/* ------------------------ Todos  ------------------------*/

.divTodos{
    grid-area: todos;
    width: 50em;
}

.todosTask{
    font-size: 1.6em;
    border: 0.5px solid black;
}