.divCategories{
    grid-area: divCategories;
    text-align: left;
    border-right: 1px solid black;
    background-color: #141d26;
    width: 100%;
}

ul{
    list-style-type: none;
}

.colorLink{
    color: white;
    text-decoration: none;
}

.navDeletedTasks, .navWhatsNew{
    padding-top: 2em;
}

.linkToWhatsNew{
    font-size: 0.7em;
}