header{
    grid-area: header;
    border-bottom: 1px solid black;
    background-color: #ebebebc2;
}

header > div > p{
    text-align: left;
    font-size: 1.3em;
}

.createTodos{
    grid-area: createTodos;
}

.titleTask{
    font-size: 1.5em;
}

header > div > p > a{
    text-decoration: none;
    color: black;
}